body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('thermometer-6563465_640.jpg');
}
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    margin-right: 10px;
}

.input-group input[type="number"] {
    width: 150px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
    font-weight: bold;
}